<div class="card"> 

  
  <div class="card-content">

    <div>
      <app-topup-info></app-topup-info>
    </div>

    <div *ngFor="let cust of customerloans$  | async;let i = index">

        <div class="card-content">
          <div class="col-12" style="background: lightgrey;"> 
              <span> {{i+1}}. {{cust.Name}} #{{cust.LoanNumber}}</span>
          </div>
            <div class="col-6 col-s-4">
                <span>Balance</span>
              </div>
              <div class="col-3 col-s-4">
                  <span>{{cust.Balance | currency}}</span>
                </div>
              <div class="col-3 col-s-4">
                  <label class="container">Top Up
                      <input type="checkbox"  [(ngModel)]="cust.IsSelected" (change)="updateChange(cust.PayoutAmount, cust.IsSelected)">
                      <span class="checkmark"></span>
                    </label> 
              </div>
              <div    class="col-12" *ngIf="cust.IsSelected">
                <app-loan-details  [customerLoanData]="cust"></app-loan-details>
              </div>
        </div>

       
  </div>
  </div>
  
</div>

